---
import Layout from '../layouts/Layout.astro';
import Header from "../secciones/Header.astro";
import Presentacion from "../secciones/Presentacion.astro"
import AcercaDe from "../secciones/AcercaDe.astro";
import Clases from '../secciones/Clases.astro';
import Unete from '../secciones/Unete.astro';
import Footer from "../secciones/Footer.astro"
---

<Layout title="Gym">
	<main>
		<Header/>
		<Presentacion/>
		<AcercaDe/>
		<Clases/>
		<Unete/>
		<Footer/>
	</main>
</Layout>

<style>
	main{
		width: 100%;
		
	}
</style>
