---
import Layout from '../layouts/Layout.astro';
import Header from "../secciones/Header.astro";
import Presentacion from "../secciones/Presentacion.astro"
---

<Layout title="Gym">
	<main>
		<Header/>
		
		<Presentacion/>
		

	</main>
</Layout>

<style>
	section{
		
	}
</style>
