---
import Layout from '../layouts/Layout.astro';
import Header from "../secciones/Header.astro";
import Presentacion from "../secciones/Presentacion.astro"
import AcercaDe from "../secciones/AcercaDe.astro";
---

<Layout title="Gym">
	<main>
		<Header/>
		<Presentacion/>
		<AcercaDe/>

	</main>
</Layout>

<style>
	main{
		width: 100%;
	}
</style>
