<section>
    <div class="container-about">
        <div class="container-img">
            <img src="img/about.jpg"/>
        </div>
        <div class="container-text">
            <p>About us</p>
            <h1>Welcome To Our Gym</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam aut magni, explicabo asperiores corporis dolorum, sequi, officiis iste voluptatum amet tempore labore eaque possimus! Voluptatem culpa perspiciatis aliquam ipsa possimus. Nemo molestiae laborum, et quod ea voluptatem quibusdam sunt temporibus voluptatum, ipsum quas pariatur odit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam aut magni, explicabo asperiores corporis dolorum, sequi, officiis iste voluptatum amet tempore labore eaque possimus! Voluptatem culpa perspiciatis aliquam ipsa possimus. Nemo molestiae laborum, et quod ea voluptatem quibusdam sunt temporibus voluptatum, ipsum quas pariatur odit.</p>
        </div>
    </div>
</section>

<style>
    section{
        height: 100vh;
        padding: 20px;
        
    }

    .container-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 40px;
    }


    .container-img{
        width: 100%;
        display: contents;
    
    }
    
    .container-img img{
        width: 380px;
        
    }


</style>