---
import Tarjetas from "../components/Tarjetas.jsx"
---

<section id="clases">
    
    <Tarjetas title="Power Yoga Classes" text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum molestiae nihil voluptatum suscipit voluptatibus non assumenda optio, nobis iusto deserunt." number="1"/>
    <Tarjetas title="Weight Lifting Classes" text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum molestiae nihil voluptatum suscipit voluptatibus non assumenda optio, nobis iusto deserunt." number="2"/>
    <Tarjetas title="Cardio & Strenght Classes" text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum molestiae nihil voluptatum suscipit voluptatibus non assumenda optio, nobis iusto deserunt." number="3"/>


</section>

<style>
    section{
        padding: 20px;
        background-color: black;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
</style>