<footer id="footer">
    
    <div class="footer-text--contenedor">
        
        <p>Copyright © 2024 Orlando Tellez. Todos los derechos reservados.</p>
    </div>
</footer>

<style>
    footer{
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        background-color: var(--color-principal);
    }
    .footer-text--contenedor{
        color: var(--white);
        margin-top: 20px;
        text-align: center;
    }

    .footer-text--contenedor p{
        font-size: 1.2rem;
    }



    

   
</style>